Django
django-braces==1.10.0
django-crispy-forms==1.6.1
django-crypto-fields==0.1.7
django-extensions==1.7.5
django-js-reverse==0.7.3
django-revision==0.1.10
django-simple-history==1.8.1
django-tz-detect==0.2.8
edc-appointment==0.2.dev0
edc-base==0.1.13.dev0
edc-consent==0.2.dev0
edc-constants==0.1.6
edc-device==0.1.6.dev0
edc-identifier==0.1.4.dev0
edc-map==1.1.dev0
edc-protocol==0.1.0.dev0
edc-registration==0.2.dev0

